{% extends "main/base.html" %}

{% block content %}

<a href="{% url "lists" username=user.username %}">My Lists</a>

{{ list_details.name }}
{{ list_details.description }}
{% if list_details.user.first != request.user %}
    <p>List shared by {{ list_details.user.first }}</p>
{% endif %}

{% for book in list_details.book.all %}
<div>
    {{ book.title }}
    {{ book.synopsis }}
    {{ book.genre }}
    {{ book.year }}
    {{ book.author.name }}
    {{ book.pages }}

    {% if list_details.user.first == request.user %}
        <a href="{% url "delete-book" username=user.username slug=list_details.slug book_pk=book.pk %}"><i class="bi bi-x-circle"></i></a>
    {% endif %}    
</div>
{% endfor %}

{% endblock %}